#!/bin/bash

export CONSUL_CLIENT_ADDR="0.0.0.0"
export CONSUL_DATA_DIR="/opt/consul"
export CONSUL_DATACENTER="<YOUR DATACENTER NAME>"
export CONSUL_PRIMARY_DATACENTER="<YOUR DATACENTER NAME>"
export CONSUL_RETRY_JOIN1="<YOUR CONSUL SERVERS' HOSTNAME OR IP 1"
export CONSUL_RETRY_JOIN2="<YOUR CONSUL SERVERS' HOSTNAME OR IP 2"
export CONSUL_RETRY_JOIN3="<YOUR CONSUL SERVERS' HOSTNAME OR IP 3"
export CONSUL_RAFT_MULTIPLIER=1