#!/bin/bash

export VAULT_DISABLE_MLOCK=true
export VAULT_LOG_LEVEL=trace
export VAULT_LOG_FORMAT=standard
export VAULT_RAFT_NODE_ID=`printf $(echo $HOSTNAME)`
export VAULT_RAFT_PATH="/opt/vault/"
export VAULT_TOKEN="xxxxxxxxxxxx"
