#!/bin/bash

export CONSUL_HTTP_ADDR="https://localhost:8501"
export CONSUL_CACERT="/<YOUR PATH TO CERTIFICATES>/ca.crt"
export CONSUL_CLIENT_CERT="/<YOUR PATH TO CERTIFICATES>/consul-cli.crt"
export CONSUL_CLIENT_KEY="/<YOUR PATH TO CERTIFICATES>/consul-cli.key"
export CONSUL_HTTP_SSL=true
export CONSUL_HTTP_SSL_VERIFY=true
