#!/bin/bash

export VAULT_ADDR="http://127.0.0.1:8200"
export VAULT_AGENT_ADDR="http://127.0.0.1:8200"
export VAULT_API_ADDR=`printf http://$(echo $IP_ADDRESS):8200`
export VAULT_CLUSTER_ADDR=`printf http://$(echo $IP_ADDRESS):8201`
export VAULT_SKIP_VERIFY=true