#!/bin/bash

export CONSUL_ADDR="xxxxxxxxxxxx"
export CONSUL_HTTP_ADDR="xxxxxxxxxxxx"
export CONSUL_HTTP_TOKEN="xxxxxxxxxxxx"
export CONSUL_CACERT="/etc/certs/ca.crt"
export CONSUL_CLIENT_CERT="/etc/certs/consul-cli.crt"
export CONSUL_CLIENT_KEY="/etc/certs/consul-cli.key"